---
const currentYear = new Date().getFullYear();
---

<footer class='border-t border-border/40 bg-background'>
    <div
        class='container mx-auto flex flex-col items-center justify-between gap-4 py-10 md:h-24 md:flex-row md:py-0 px-4 md:px-8 max-w-screen-2xl'
    >
        <div
            class='flex flex-col items-center gap-4 px-8 md:flex-row md:gap-2 md:px-0'
        >
            <p
                class='text-center text-sm leading-loose text-muted-foreground md:text-left'
            >
                &copy; {currentYear} Apex Corporate Solutions. A division of Playhouse
                Media.
            </p>
        </div>
        <div class='flex gap-4 text-sm text-muted-foreground'>
            <a href='/terms' class='hover:underline underline-offset-4'>Terms</a
            >
            <a href='#' class='hover:underline underline-offset-4'>Privacy</a>
        </div>
    </div>
</footer>
